.App {
  text-align: center;
  height: 600px;
}

.App-header {
  background-color: #282c34;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Question-zone{
  background-color: aliceblue;
}

.Scoreboard {
  background-color: #282c34;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.Scores {
  width: 40%;
  justify-content: left;
}

.App-logo {
  width: 20%;
  height: 50%;
}

.Logo-image{
  width: 30%;
  height: 60%;
}

.App-title-bar{
  height: 50%;
  width: 100%;
}

.Menu-button{
  height: 80%;
  width: 20%;
  background-color: lightgray !important;
  font-size: 26px !important;
  margin: 30px !important;
}

.Menu {
  background-color: #282c34;
  height: 20%;
  color: white;
}

.Question{
  margin: 50px;
}

.Answer {
  input: white;
  /* color: white; */
}

.Footer{
  text-align: center;
  margin: 0px;
  background-color: #282c34;
  color: white;
  height: 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
