.App {
  text-align: center;
  height: 600px;
}

.App-header {
  background-color: #282c34;
  height: 60%;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 20%;
  height: 50%;
  pointer-events: none;
}

.Logo-image{
  padding-left: 30px;
  width: 100%;
  height: 60%;
  float: left;
}

.App-title-bar{
  height: 50%;
  width: 100%;
}

.Menu-button{
  height: 80%;
  width: 30%;
  background-color: lightgray !important;
  font-size: 26px !important;
}

.Menu {
  background-color: #282c34;
  height: 20%;
}

.Footer{
  margin: 0px;
  background-color: #282c34;
  color: white;
  height: 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
